@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:  url('imagens/fundo.png'),linear-gradient(-35deg, #000152,#191DFF);   
    background-repeat: no-repeat;
    
}

    article#foto{
        text-align: center;
        margin: auto;
    }
    article#foto img{
        width: 20%;
        max-width:250px;
        min-width: 200px;
        margin-top: 2vw;
        
    }

    article#cabecalho{
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        width: 60%;
    }
    article#cabecalho h1,
    article#cabecalho h2,
    article#cabecalho p{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        
    }
    article#cabecalho h1{
        font-size:clamp(1em, 3vw, 3ex) ;
        color:#fff;
        
    }
    article#cabecalho h2{
        border-top:2px dashed #decc0b;
        font-size:clamp(1.5em, 3.5vw, 4ex) ;
        color:#decc0b;
    }
    article#cabecalho p{
        font-size:clamp(0.8em, 2vw, 2ex) ;
        color:#fff;
        
    }
    article#redeSocial{
        width: 18vw;
        min-width:100px; 
        margin:auto;
    }
    article#redeSocial img{
        text-align: center;
        display: inline-flex;
        width:1.5vw;
        min-width: 30px;
        margin: 35px 15px 0px;
    }

    /*====================PROJETOS=============*/
    article #git ,
    article #formacao{
        margin: 20px 0;
        height: 50px;
        
    }

    article #git p,
    article #formacao p{
        display: inline-flex;
        text-align: center;
        color:rgb(0, 175, 239);
        font-size:clamp(15px, 1.5vw, 2ex);
            
    }
article #git a,
article #formacao a{
    text-decoration: none;
}
article #git img,
article#formacao img{
    min-width: 25px;
    width: 2vw;   
}

/*===========================GRADUAÇÃO=============*/
article#cursos-online img,
article#formacaocursos img{
    display: inline-flex;
    margin: 2vw 20px;

}
article#formacaocursos img{
    width: 250px;
}
article#formacaocursos,
article#cursos-online{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    color:#727272;
}
article#cursos-online img{
   height: 80px;
}

/*======================================SOBRE MIM===================*/
article#sobremim{
    background: #000160;
    padding: 15px ;
    border-radius:3%;
    box-shadow:0 0 15px #333;
    width: 60%;
    min-width: 280px;
    margin:  auto;
    display: none;
    height: 0;
}
article#sobremim h1,
article#sobremim h2,
article#sobremim p{
    
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display:none;
    
}
article#sobremim h1{
    text-align: right;
    color:#fff;
    font-size:clamp(18px, 1vw, 2vw) ;
    margin-bottom:5px;
}
article#sobremim h2{
    border-top:2px dashed #decc0b;
    width: 100%;
    color:#decc0b;
    font-size:clamp(24px, 40px, 2vw) ;
    text-align: right;    
}
article#sobremim p{
    font-size:clamp(15px, 2vw, 18px) ;
    color:rgb(0, 175, 239);
    text-align: justify;
    margin-top:  clamp(15px, 2vw, 2vw);
}

#botSM{
    background:#000152;
    font-family: 'Roboto', sans-serif;
    width:75%;
    max-width:350px;
    height:30px;	
    padding:7px;
    text-align:center;
    margin:10px auto;
    border-radius:5px;
    color:#191DFF;
	transition:5s;
}
#botSM:hover{
    cursor:pointer;
}
#fec:hover{
    cursor:pointer;
}
#fec{
    width: 20px;
    color: #fff;
    font-family: 'Roboto',sans-serif;
}

/*==================================PROJETOS==================*/
#ext-pro{
    font-family: 'Roboto',sans-serif;
    background-image:radial-gradient(#191dff,#000152);
    height: 100%;
}
article#menu-lateral{
    position: absolute;   
    background-color: #0052ff;
    width: 30px;
    height: auto;
    
    top:0;
    bottom: 0;
}
article#menu-lateral li{
    opacity: 0;
}
article#menu-lateral:hover li{
    opacity: 1;
}

article#menu-lateral:hover{
    width: 120px;
    transition: 1s;
    border-radius: 0;
    position: absolute;    
    background-color: #0052ff;
    height: auto;
    top: 0px;
    left: 0;
    bottom: 0;
    padding: 10px;
    box-shadow: 2px 0 5px #3333339d ;
}

section#projetos{
    
    background-color: #80a7fc;
    text-align: center;
    margin: 0 auto;
    
    
}
section#projetos span{
    width:250px;
    height:350px;
    display:inline-flex;
    margin:20px 10px 0 10px;
    border-radius:10px;
    padding:5px;
    background-image: url('imagens/engrenagens.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    
}
section#projetos span p{        
   position: relative;
   margin: auto auto 5px ;
    width: 100%;
    opacity: 0;
    
}
#projetos span img{
    width: 20px;
    height: 20px;
    margin: auto;
   
}
#projetos span:hover{
    transform:translateY(-12px);    
    transition: 0.5s;
    
}
#projetos span:hover p{
    opacity: 1;    
    transition: 1s;
}
header#cabe-pro{
    width: 100;
    text-align: center;
    background-color: #4461c0;
    box-shadow: 0 2px 5px #3333339d ;
    color: #fff;
    padding: 10px;
}    
